/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Mobile Screen size 385px  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (max-width: 385px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  header {
    width: 100vw;
    height: 10%;
  }
  .right {
    display: none;
  }
  .left {
    background: url(./imgs/left.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 370px;
    height: 370px;
    border: none;
    left: -6px;
    top: -0px;
  }
  .navLeft {
    width: 15%;
    margin: 0;
  }
  .navLeft img {
    width: 100%;
  }

  .navCenter ul li {
    width: 20%;
    margin-right: 10px;
    font-size: 10px;
  }
  .navRight {
    width: 30%;
    margin: 0;
    align-items: flex-start;
  }
  .links {
    display: none;
  }
  .btnDiv {
    width: 100%;
  }
  .mBtn {
    margin: 0px;
    width: 90px;
    height: 30px;
    font-size: 8px;
  }
  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ container 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */
  .container1 {
    width: 100%;
    padding: 0;
    top: 70px;
    display: block;
    left: 0px;
  }
  .c1Left {
    width: 100%;
    padding-left: 15px;
  }
  .c1Right {
    width: 100%;
    padding-right: 0px;
  }
  .containt1 h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    width: 360px;
    height: 38px;
    left: 16px;
    top: 30px;
  }
  .containt1 .p1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 301px;
    height: 38px;
    position: absolute;
    left: 16px;
    top: 110px;
  }
  .containt1 p {
    width: 100%;
    font-size: 14px;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    width: 301px;
    height: 34px;
    left: 16px;
    top: 170px;
  }
  .c1btnDiv {
    font-size: 16px;
    width: 94%;
    margin: 0px;
    position: absolute;
    /* width: 301px; */
    height: 34px;
    left: 16px;
    justify-content: flex-start;
    top: 270px;
  }
  .mBtn2 {
    margin-right: 10px;
    height: 47px;
    width: 154px;
  }
  .wBtn {
    height: 47px;
    width: 154px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .wBtn img {
    margin: 0px 10px;
  }
  .roundDiv {
    background: transparent;
    position: absolute;
    width: 307.22px;
    height: 466px;
    left: 70px;
    top: 360px;
  }
  .mainIMG {
    display: block;
  }
  .sep {
    /* top: 630px; */
    width: 20px;
    height: 33px;
    /* left: 350px; */
    top: 630px;
    position: absolute;
    left: 350px;
  }
  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container2 {
    width: 100vw;
    padding: 0;
    top: 800px;
  }
  .c2heading {
    width: 360px;
    height: 38px;
    left: 16px;
    top: 30px;
    width: 100%;
  }

  .c2heading img {
    margin-left: 5px;
    width: 40px;
  }

  .c2heading p {
    font-size: 20px;
  }

  .c2pra {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 0 35px;
    margin-top: 20px;
    font-size: 12px;
  }

  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container 3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container3 {
    width: 100vw;
    top: 910px;
    height: fit-content;
  }

  .cardImg {
    height: 63px;
    width: 63px;
  }

  .Create {
    height: 23.5px;
    width: 29.5px;
  }
  .Distribute {
    height: 23.5px;
    width: 23.5px;
  }
  .Monetize {
    height: 23.5;
    width: 24px;
  }
  .Host {
    height: 23.75;
    width: 29.33px;
  }
  .Streaming {
    height: 24;
    width: 24px;
  }
  .Analytics {
    height: 23.5;
    width: 19.5px;
  }
  .card h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  .card p {
    line-height: 14.52px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 12px;
  }

  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container4 {
    width: 100vw;
    padding: 0;
    top: 2120px;
  }
  .c4heading {
    width: 100%;
  }

  .c4heading img {
    margin-left: 5px;
    width: 40px;
  }

  .c4heading p {
    font-size: 20px;
  }

  .c4pra {
    width: 100%;
    margin-top: 0px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 0 40PX;
  }

  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container 5 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */
  .container5 {
    width: 100vw;
    top: 2220px;
  }

  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container 6 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container6 {
    width: 100vw;
    top: 2300px;
  }
  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container 7 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container7 {
    display: none;
  }

  /* <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Container 7 mobile @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> */

  .container7Mob {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: url(./imgs/RectangleMob.png);
    background-size: contain;
    background-position: center;
    height: 610px;
    /* width: 100%; */
    top: 2460px;
    position: absolute;
  }

  .c7ContaintMob {
    top: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .c7HMob {
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
  }

  .c7ContaintMob p {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    padding: 0 40px;
  }

  .dotsMob {
    background: url(./imgs/DotsMob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .dotsMob img {
    height: 187px;
    width: 213px;
    position: absolute;
    top: 211px;
    left: 89px;
  }

  .gPlayMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    left: 125px;
  }

  .gPlayMob p {
    font-size: 14px;
    font-weight: 500;
  }

  .mBtn3Mob {
    height: 47px;
    width: 154px;
    margin-top: 15px;
    background: linear-gradient(135.11deg, #b13000 3.93%, #990000 100.89%);
    border-radius: 8px;
    outline: none;
    border: none;
  }

  .footer {
    display: none;
  }

  .footerMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 610px;
    /* width: 100%; */
    width: 100vw;
    top: 3120px;
    position: absolute;
  }

  .sec1Mob img {
    margin-left: 50px;
    height: fit-content;
  }

  .footerMob .sec1Mob {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .footerMob .fBtnMob {
    width: 20px;
    height: 30px;
    /* margin-left: 150px; */
  }

  .footerMob .sec2Mob ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .footerMob .sec2Mob ul li {
    margin-bottom: 20px;
  }

  .sec3Mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 20px auto;
  }

  .sec4Mob ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sec4Mob ul li {
    margin: 10px auto;
  }
}
